{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="container pt-5">
		{% include "partials/_introduction.html.twig" %}
		<section id="services" class="services">
			<div class="container-programs">
				<div class="content-programs">
					{% for p in programs %}
						{% include "partials/_program_card.html.twig" %}
					{% endfor %}
				</div>
			</div>
		</section>
		{% include "partials/_appointment.html.twig" %}
		{% include "partials/_about_me_homepage.html.twig" %}
		{% include "shared/_footer.html.twig" %}
	</div>
{% endblock %}
