<section class="fw7fq9">
	<div class="lxwgdg">
		<div class="yf7tjk">
			<div class="dbjkj1">
				<img src="{{ asset('img/france-tuncq-pict.jpg') }}" alt="A propos de moi" class="toeusp">
			</div>
			<div class="aodjlb">
				<div class="zk2cf2 text-start">
					<header>
						<h2 class="zgnkt2">
							A propos de France Tuncq
						</h2>
					</header>
					<div class="djnq1t">
						<div>
							Animée par le souhait que chacun trouve sa place dans une vie épanouie, je suis passionnément engagée dans la recherche d'un équilibre stimulant entre le vivre ensemble et l'expression de nos talents particuliers.
						</div>
					</div>
                    <div class="wm8kpu">
						<div class="zse2bl">
							<a href="https://www.linkedin.com/in/france-tuncq-%F0%9F%A7%AD-01a2b47/" target="_blank" title="Linkedin" service="linkedin">{% include "partials/svg/_linkedin.html.twig" %}</a>
						</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</section>
