<section class="pzkyw5 xya3m1">
	<div class="k727f2">
		<header class="fg56zp">
			<div class="a0zity">
				<a href="{{ path('home_index')}}" class="s6ovti uuzh95">France Tuncq</a>
				<span class="nhjfiu pa9ar1">/</span>
				<span class="s6ovti fx627i">{{ program.name }}</span>
			</div>
			<div class="vfd9uh">
				<a href="{{ path('app_purchase_checkout', {'slug': program.slug })}}" class="psoqp3 j4njag">Accéder pour
					{{ program.price | amount }}</a>
			</div>
		</header>
	</div>
</section>
