<ul class="pj9s5g vhqzub">
	<li class="z4aw8h">
		<span>
			<a class="text-grey-dark font-weight-bold" href="{{ path('app_purchase_checkout', {'slug': program.slug}) }}">Acheter maintenant</a>
		</span>
	</li>
	<li class="z4aw8h">
		<span>
			<a class="text-muted font-weight-bold" href="{{ path('app_program', {'slug': program.slug}) }}">En savoir plus</a>
		</span>
	</li>
</ul>
