<video id="my-player" class="video-js vjs-16-9" controls preload="auto" aspectratio="vjs-16-9" responsive="true" data-setup='{"fluid": true}'>
	<source src="{{ vich_uploader_asset(course, 'videoFile') }}" alt="{{ course.name }}" type="video/mp4">
	<p class="vjs-no-js">
		To view this video please enable JavaScript, and consider upgrading to a
																																																																																																																																																																																																																																																																																																																																														    web browser that
		<a href="https://videojs.com/html5-video-support/" target="_blank">
			supports HTML5 video
		</a>
	</p>
</video>
