{% extends 'base.html.twig' %}

{% block title %}Compte déjà utilisé{% endblock %}

{% block body %}
<div class="container pt-5">
    <h1>Trop de personnes utilisent votre compte en ce moment</h1>
    <p>Vous avez trop de sessions actives. Veuillez fermer une session existante avant de vous reconnecter.</p>
</div>
{% endblock %}
