{% block body %}
	<div class="alert alert-success my-5">
		<h4 class="alert-heading">Votre réservation a bien été prise en compte !</h4>
        <p>Un email de confirmation vous sera envoyé</p>
	</div>
{% endblock %}
