{% extends "base.html.twig" %}

{% block title %}
	Choix du rendez-vous
{% endblock %}

{% block body %}
	<div>
		<div data-controller="appointment-type" data-appointment-type-target="container">
			{% include "appointment/_types.html.twig" with { types: types } %}
		</div>
	</div>
{% endblock %}
