<h1>Invitation à vous enregistrer sur l'application l'univers des nombres</h1>
<p>Bonjour,</p>
<p>Vous êtes invité à vous enregistrer sur le site l'univers des nombres en cliquant sur le lien ci-dessous :</p>
<p><a href="{{ absolute_url(path('app_invitation', {uuid: uuid})) }}">{{ absolute_url(path('app_invitation', {uuid: uuid})) }}</a></p>