<div class="text-longform text-lg" data-controller="richtext">
	<div>
		Dans ce projet, j'utiliserai aussi la ligne de commande (CLI, pour Command Line Interface) de Symfony.
		<p class="te2ecj">
			Elle est disponible sur le site officiel de Symfony et pour n'importe quel système d'exploitation !
		</p>
		<p class="te2ecj">
			▶ Installer la ligne de commande Symfony : https://symfony.com/download
		</p>
	</div>
</div>
